<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <!--<connectionStrings>
    <add name="ForumDatabase"
         connectionString="Data Source=(localdb)\MSSQLLocalDB;Initial Catalog=ForumDb;Integrated Security=True;Connect Timeout=30;Encrypt=False;TrustServerCertificate=False;ApplicationIntent=ReadWrite;MultiSubnetFailover=False"
         providerName="System.Data.SqlClient"/>
  </connectionStrings>
  <appSettings>
    <add key="ForumDatabase"
         value="Data Source=(localdb)\MSSQLLocalDB;Initial Catalog=ForumDb;Integrated Security=True;Connect Timeout=30;Encrypt=False;TrustServerCertificate=False;ApplicationIntent=ReadWrite;MultiSubnetFailover=False" />
  </appSettings>
  -->
</configuration>

